[user]
	email = mpho112@gmail.com
	name = Mpho Mphego
[core]
	editor = nano
	askpass = git-gui--askpass

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	# push = origin`   1 $(git symbolic-ref --short HEAD)
    push="!fnc() { \
        BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD); \
        git push origin "${BRANCH_NAME}"; \
        echo "$(tput setaf 1) Do you want to create a PR (Y/N) $(tput sgr0)"; \
        read -t 5 -r response; \
        if [[ "${response}" =~ ^([yY][eE][sS]|[yY])$ ]]; then \
            hub pull-request --no-edit; \
        fi; \
    };fnc"
    create-pr="!f() { \
        BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD); \
        git push -u origin "${BRANCH_NAME}"; \
        hub pull-request --no-edit; \
    };f"
    clone = clone --progress

[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[push]
	default = current

[http]
    sslVerify = false

[credential]
    helper = store

