[user]
    email = mpho112@gmail.com
    name = Mpho Mphego
[core]
    editor = nano
    askpass = git-gui--askpass

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    push = origin $(git symbolic-ref --short HEAD)
    pushd="!fnc() { \
        BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD); \
        git push origin ${BRANCH_NAME}; \
        echo 'Do you want to create a PR (y/n)'; \
        read -t 5 -r response; \
        if [ $response != ${response#[Yy]} ] ;then hub pull-request --no-edit; fi \
        };fnc"
    create-pr="!f() { \
        BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD); \
        git push -u origin "${BRANCH_NAME}"; \
        hub pull-request --no-edit; \
    };f"
    clone = clone --progress

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[push]
    default = current

[http]
    sslVerify = false

[credential]
    helper = store

