[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mmphego/Desktop/23658569_704999486558629_1835342160575906572_n.jpg]
row=8
col=0

[/home/mmphego/Desktop/arduino-arduinoide.desktop]
row=6
col=0

[/home/mmphego/Desktop/Vivado 2017.2.desktop]
row=4
col=0

[/home/mmphego/Desktop/MeerKAT_CBF_QTR_20171122.pdf]
row=7
col=0

[/home/mmphego/Desktop/Documentation Navigator.desktop]
row=3
col=0

[/home/mmphego/Desktop/Vivado HLS 2017.2.desktop]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/mmphego]
row=2
col=0

