[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mmphego/Desktop/arduino-arduinoide.desktop]
row=5
col=0

[/home/mmphego/Desktop/Vivado 2017.2.desktop]
row=6
col=0

[/home/mmphego/Desktop/Vivado HLS 2017.2.desktop]
row=7
col=0

[/home/mmphego/Desktop/Documentation Navigator.desktop]
row=8
col=0

[47fb3f39-c381-4bf8-84b6-624e3ca62f9b]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/mmphego]
row=2
col=0

